.text {
    position: fixed;
}
img {
    position: fixed;
    bottom: 0;
    right: 0;
}
body {
    background-color: #3c5a9a;
}
h1 {
    color: #ffffff;
    font-size: 6vh;
    margin: 0;
    cursor: default;
}
a {
    font-size: 2vh;
    margin: 0;
    color: #ffffff;
}
h2 {
    color: #ffffff;
    font-size: 4vh;
    margin: 1vh;
}
p {
    color: #ffffff;
    font-size: 2vh;
}
/*Butão*/
.textButton {
    height: 4vh;
    width: 6vw;
    border: 0.2vw solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    border-radius: 3vw;
    position: relative;
    top: 7vh;
    cursor: pointer;
    margin: 1vh;
}
#textBox {
    background-color: #1730359a;
    height: 82vh;
    width: 63vw;
    top: 15vh;
    position: fixed;
    border: solid;
    padding-left: 2vw;
}