.text {
    position: fixed;
}
#repons-box {
    bottom: 4vh;
    height: 18vh;
    width: 15vw;
    padding: 1vh;
    background-color: #1730359a;
    left: 23.5vw;
    border: solid;
}
#fontes-box {
    background-color: #1730359a;
    height: 65vh;
    width: 63vw;
    top: 7vh;
    position: relative;
    left: 5vw;
    border: solid;
}
img {
    position: fixed;
    bottom: 0;
    right: 0;
}
body {
    background-color: #3c5a9a;
}
h1 {
    color: #ffffff;
    font-size: 6vh;
    margin: 0;
}
a {
    font-size: 2vh;
    margin: 0;
    color: #ffffff;
}
h2 {
    color: #ffffff;
    font-size: 4vh;
    margin: 1vh;
}
p {
    color: #ffffff;
}