body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 0;
}
#recentes {
    width: 36vw;
    height: 100vh;
    position: fixed;
    left: 15vw;
    top: -15vh;
}
#login {
    width: 36vw;
    height: 100vh;
    position: fixed;
    right: 15vw;
    top: 43vh;
}
#marca {
    color: #0866ff;
    font-size: 6vh;
}
#recentes p {
    position: relative;
    top: 30vh;
    font-size: 3vh;
}
#recentes h1 {
    position: relative;
    top: 30vh;
    font-size: 8vh;
}
.contas {
    height: 30vh;
    width:  12vw;
    border-radius: 1vw;
    cursor: pointer;
}
#conta1 {
    background-color: #ffffff;
    border: 0.1vw solid gray;
    position: fixed;
    top: 20vw;
}
#conta2 {
    position: fixed;
    top: 43.2vh;
    left: 30vw;
    border: 0.1vw solid gray;
    background-color: #ffffff;
}
#form {
    background-color: #ffffff;
}
#conta1 img {
    height: 25vh;
    width:  12vw;
    border-radius: 1vw 1vw 0 0;
    margin: 0;
}
#conta1 h2 {
    margin: 0;
    margin-left: 4vw;
    font-size: 3vh;
}
#conta2 h2 {
    margin: 0;
    margin-left: 0.4vw;
    color: #0866ff;
    font-size: 3vh;
}
#imgfalso {
    background-color: #f0f2f5;
    height: 25vh;
    width:  12vw;
    border-radius: 1vw 1vw 0 0;
    margin: 0;
}
#circruz {
    background-color: #0866ff;
    height: 9vh;
    width: 4.5vw;
    border-radius: 50%;
    position: relative;
    top: 8vh;
    left: 3.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cruz {
    background-color: white;
    border-radius: 1vw;
    position: fixed;
}
#cruz-v {
    width: 3.5vw;
    height: 1.5vh;
}
#cruz-h {
    width: 0.7vw;
    height: 7vh;
}
/*LOGIN*/
#form {
    padding: 1vw;
    border-radius: 1vw;
}
#email-tel, #password {
    border-radius: 0.2vw;
    border: 0.1vw solid #808080;
    width: 33.6vw;
    height: 5vh;
    padding-left: 0.9vw;
    font-size: 2.2vh;
}
#email-tel::placeholder,  #password::placeholder {
    color: #808080;
}
input#email-tel:focus, input#password:focus {
    border:  0.3vh solid #0866ff;
    outline: none;
}
#password {
    margin-top: 1vh;
}
#form {
    position: fixed;
    top: 30vh;
    height: 35vh;
    width: 34.7vw;
}
#entrar {
    background-color: #0866ff;
    color: #ffffff;
    width: 98%;
    height: 6vh;
    font-size: 4vh;
    margin-top: 2vh;
    border-radius: 0.87vw;
    border: none;
}
#entrar:hover {
    background-color: #1877f2;
    color: #ffffff;
    cursor: pointer;
}
#link-forgot-password {
    position: relative;
    left: 13vw;
    color: #0866ff;
}
#new-account {
    background-color: #42b72a;
    height: 8vh;
    width: 16vw;
    color: #ffffff;
    border: none;
    font-size: 4vh;
    border-radius: 0.5vw;
    position: relative;
    left: 9.8vw;
    cursor: pointer;
}