#divText4 {
    position: absolute;
    bottom: 3vh;
    right: 9vw;
}
#divText3 {
    position: absolute;
    bottom: 3vh;
    left: 24vw;
}
#divText2 {
    position: absolute;
    top: 15vh;
    right: 9vw;
}
#divText1 {
    position: absolute;
    top: 15vh;
    left: 24vw;
}
h1 {
    color: rgb(13, 74, 153);
    position: fixed;
    top: 0;
}