body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#menu {
    background-color: #e1e5ec;
    width: 6vw;
    height: 100%;
    border-right: 0.4vh solid #b7bfcc;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#marca {
    color: #0866ff;
    font-size: 6vh;
    margin: 1vh;
    position: absolute;
    left: 6vw;
    top: 0;
    cursor: default;
}
/*Classes para menu*/
.menu-buttons {
    height: 9.5vh;
    width: 4.5vw;
    border-radius: 50%;
    border: 0.15vh solid #0866ff;
    background-color: #a7c5f7;
    cursor: pointer;
    margin: 0;
    position: fixed;
    left: 0.5vw;
}
.textbox {
    position: fixed;
    left: 5.2vw;
    height: 9.5vh;
    width: 16.5vw;
}
/*Botões*/
#button1 {
    top: 10vh;
}
#textbox1 {
    top: 10vh;
    left: 23vw;
}
#textbox1 p {
    font-size: 3vh;
    color: #0866ff;
}
/*Animação*/
.BarraVai {
    animation: barraParaOLado 0.2s linear;
}
.BarraVolta {
    animation: barraParaTrás 0.2s linear;
}
.TextLeft {
    animation: textLeft 0.2s linear;
}
.textRight {
    animation: textRight 0.2s linear;
}
@keyframes barraParaOLado {
    from {
        width: 6vw;
    }
    to {
        width: 22vw;
    }
}
@keyframes barraParaTrás {
    from {
        width: 22vw;
    }
    to {
        width: 6vw;
    } 
}
@keyframes textLeft {
    from {
        left: 23vw;
    }
    to {
        left: 0vw;
    }
}
@keyframes textRight {
    from {
        left: 0vw;
    }
    to {
        left: 23vw;
    }
}
#botao1 {
    height: 9.5vh;
    width: 14vw;
    position: fixed;
    top: 10vh;
    left: 0;
    border-radius: 1vw;
}
#button1 {
    background-image: url(../img/facebook.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Overflow*/
.overflowOn {
    animation: overflowOn 0.2s linear;
}
.overflowOff {
    animation: overflowOff 0.2s linear;
}
@keyframes overflowOn {
    from {
        width: 8.5vw;
    }
    to {
        width: 16.5vw;
    }
}
@keyframes overflowOff {
    from {
        width: 16.5vw;
    }
    to {
        width: 8.5vw;
    }
}
/*Botão 1*/
#textbox1 {
    left: 5.5vw;
    overflow: hidden;
    width: 8.5vw;
}
#button-p1 {
    position: relative;
    left: 22vw;
}
/*Botão 2*/
#textbox2 p {
    font-size: 3vh;
    color: #0866ff;
    position: relative;
    left: 22vw;
}
#textbox2 {
    left: 5.5vw;
    overflow: hidden;
    width: 8.5vw;
}
#botao2 {
    position: fixed;
    top: 20vh;
}
#button2 {
    background-image: url(../img/cel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Botão 3*/
#textbox3 p {
    font-size: 3vh;
    color: #0866ff;
    position: relative;
    left: 22vw;
}
#textbox3 {
    left: 5.5vw;
    overflow: hidden;
    width: 8.5vw;
}
#botao3 {
    position: fixed;
    top: 30vh;
}
#button3 {
    background-image: url(../img/socie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*Botão 4*/
#textbox4 p {
    font-size: 3vh;
    color: #0866ff;
    position: relative;
    left: 22vw;
}
#textbox4 {
    left: 5.5vw;
    overflow: hidden;
    width: 8.5vw;
}
#botao4 {
    position: fixed;
    top: 40vh;
}
#button4 {
    background-image: url(../img/meta.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Quinto botão*/
#textbox5 p {
    font-size: 3vh;
    color: #0866ff;
    position: relative;
    left: 22vw;
}
#textbox5 {
    left: 5.5vw;
    overflow: hidden;
    width: 8.5vw;
}
#botao5 {
    position: fixed;
    top: 50vh;
}
#button5 {
    background-image: url(../img/interrrogação.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.textbox {
    display: flex;
    align-items: center;
}
.toCenter {
    background-position: center;
}
#logo {
    position: fixed;
    height: 7vh;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}
#marca-box {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 6vw;
}
.marcaVolta {
    animation: marcaVolta 0.2s linear;
}
.marcaVai {
    animation: marcaLado 0.2s linear;
}
@keyframes marcaLado {
    from {
        width: 6vw;
    }
    to {
        width: 22vw
    }
}
@keyframes marcaVolta {
    from {
        width: 22vw;
    }
    to {
        width: 6vw;
    }
}